@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1920px;

@text-color:                  #000;

@font-family:                 'Open Sans_my', sans-serif;
@PTfont: 'PTSerif';
@FSfont: 'FiraSans';
@h1: 36px;
@h2: 30px;
@h3: 14px;
@accent: 18px;
@paragraph: 16px;
@text-small: 14px;

@color-orange-light: #ff7435;
@color-orange: #e85715;
@color-green: #0ab89d;

@darkgrey: #191919;
@grey-2: #4c4c4c;
@grey-3: #969696;
@grey-4: #ebebeb;
@lightgrey: #fafafa;

